*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.json
.iml
local.property
AndroidManifest.xml
app\build\intermediates\res\*
app\build\intermediates\incremental\mergeDebugResources\*
app\build\intermediates\incremental\*
.idea
.idea/*
gradle.xml

app/build/intermediates/res/merged/debug/*

*.dex
app/build/intermediates/project_dex_archive/debug/out/NoteKeeperDatabaseContract/questionInfoEntry/SQL_CREATE_TABLE.dex
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/+8MpRBZmGS6GF3RMcz+7+dIf+BY=
