*.iml
.gradle
/local.properties
.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.json
.iml
local.property
AndroidManifest.xml
app\build\intermediates\res\*
app\build\intermediates\incremental\mergeDebugResources\*
app\build\intermediates\incremental\*
.idea
.idea/*
gradle.xml

app/build/intermediates/res/merged/debug/*

*.dex
app/build/intermediates/project_dex_archive/debug/out/NoteKeeperDatabaseContract/questionInfoEntry/SQL_CREATE_TABLE.dex
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/+8MpRBZmGS6GF3RMcz+7+dIf+BY=
gradle/wrapper/gradle-wrapper.properties
*.properties
Thumbs.db
.atom/
.dart_tool
.packages
.pub/
build/
pubspec.lock
Podfile.lock
Pods/
ios/.generated/
ios/Flutter/Generated.xcconfig
GeneratedPluginRegistrant.h
GeneratedPluginRegistrant.m
GeneratedPluginRegistrant.java
/.idea/
*.apk
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/Wh72FdrnHYzENqftH_6VLjcCgbk=
