*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.json
.iml
local.property
AndroidManifest.xml
app\build\intermediates\.
.idea
.idea/
gradle.xml
app/build/intermediates/dex/debug/mergeProjectDexDebug/classes.dex
app/build/intermediates/javac/debug/classes/com/example/firebase/shule/adapter/SubjectAdapter$SubjectViewHolder.class
